// colors
$gray: #30454F;
$grey: #30454F;
$light--gray: #E5E4E4;
$sea-wave: #27B3AA;
$tiffany: #21A49B;
$silver: #AFABAB;
$silver2nd: #9CA6AB;
$tomat: #FF5353;
$red: #D33737;
$green: #4DAD75;
$light-green: #F6FAF9;
$olive: #6FCF97;
$purple: #9B51E0;
$blue: #2D9CDB;
$blue--link: #2F80ED;
$light-orange: #FFECE1;
$orange: #F2994A;
$light-blue: #56CCF2;
$white: #fff;
$substrate: #f2f2f2;
$blue: #2F80ED;
//gradients
$gradient--purple: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
$gradient--blue: linear-gradient(90deg, #A1C4FD 0%, #C2E9FB 100%);
$gradient--carrot: linear-gradient(90deg, #FF9A9E 0%, #FAD0C4 99%);

//heights
$news-height: 228px;
$news-height--small: 132px;
$header-height: 70px;

//z-indexes
$modalZ: 10000;
$sidebarZ: 9999;
$headerZ: 10001;

// widths
$main-width: 1440px;

// paddings/magrins
$minimal-padding: 16px;
$small-padding: 24px;
$middle-padding: 32px;

// fonts
$roboto: 'Roboto';

// mixin material-icons

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}